.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.cardTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.chartContainer {
  margin-bottom: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.statCard {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.statTitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.statValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.serviciosPopulares {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 1rem;
}

.serviciosPopulares h3 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
  text-align: center;
}

.serviciosPopulares ul {
  list-style-type: none;
  padding: 0;
}

.serviciosPopulares li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 4px;
}

.servicioNombre {
  font-weight: bold;
}

.servicioCantidad {
  color: #8884d8;
}

.servicioIngresos {
  color: #82ca9d;
}

.dateFilters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.dateFilters input[type="date"] {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 0.9rem;
}

.dateInputs {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.homeServiceButton {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fc8bcd;
}
.pdfButton {
  display: block;
  margin: 1.5rem auto;
  padding: 0.75rem 1.5rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pdfButton:hover {
  background-color: #218838;
}
