.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 2px solid #f0f0f0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff69b4;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav a:hover,
.nav a.active {
  color: #ff69b4;
}

.cartContainer {
  position: relative;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px; /* Asegura que el botón esté separado del contenido desplegable */
}

.dropdownContent {
  display: none;
  position: absolute;
  left: 50px; /* Desplaza el recuadro más a la derecha */
  top: 100%; /* Asegura que el recuadro aparezca debajo del botón */
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
}

.dropdownContainer:hover .dropdownContent,
.dropdownContent:hover {
  display: block;
}

.cartItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.cartTotal {
  margin-top: 10px;
  font-weight: bold;
}

.viewCartButton {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

.viewCartButton:hover {
  background-color: #ff4fa7;
}

button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff1a1a;
}

button:active {
  background-color: #e60000;
}